$main_font: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
$main_color: #589288;
$color_blue: #222a3c;

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: $main_font;
    font-size: 22px;
    color: $color_blue;
  }
}

.container_contact {
  height: 100%;

  .head_fon {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top_block {
      padding-top: 120px;
      width: 100%;
      height: 50%;
      background-color: $color_blue;
      display: flex;

      .container {
        display: flex;
        max-width: 1200px;

        .text_top_block {
          width: 50%;

          h1 {
              font-size: 3rem;
            font-weight: 700;
              color: #FFFFFF;
            margin-bottom: 20px;
          }

          p {
            font-size: 25px;
            color: #FFFFFF;
            max-width: 80%;
            line-height: 1.75;
            font-weight: 300;
          }
        ;
        }

        .contact_us {
          padding: 20px;
          width: 50%;
          height: 80vh;
          display: flex;
          background-color: #FFFFFF;
          border-radius: 10px;
          z-index: 10;
          -webkit-box-shadow: 2px 2px 16px 0px rgba(34, 60, 80, 0.39);
          -moz-box-shadow: 2px 2px 16px 0px rgba(34, 60, 80, 0.39);
          box-shadow: 2px 2px 16px 0px rgba(34, 60, 80, 0.39);

          .input_contact {
            width: 100%;
            padding: 40px 25px;

            #contactform {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            #submitbtn {
              border-radius: 26px;
              padding: 15px;
              text-transform: uppercase;
              color: white;
              background-color: $main_color;
              text-align: center;
              border: none;
              margin-left: 10px;
              outline: none;
              width: 40%;
              max-height: 45px;
              text-decoration: none;
              transition: all ease-out 0.2s;
              cursor: pointer;
            }
            #submitbtn:hover {
              background-color: #385c56;
              transition: all ease-out 0.5s;
              color: white !important;
            }

            input {
              padding: 17px 11px;
              border: none;
              border-bottom: 1px solid $color_blue;
              margin-bottom: 15px;
            }

            input:after {
              content: '';
              display: block;
              position: absolute;
              height: 1px;
              width: 100%;
              background: green;
            }

            #subject {
              margin-bottom: 30px
            }

            input::placeholder {
              font-size: 18px;
              color: $color_blue;
              font-family: $main_font;
            }

            textarea {
              margin-bottom: 20px;
              max-height: 200px;
              height: 30px;
              min-height: 30px;
              resize: vertical;
              font-size: 16px;
              font-weight: 400;
              color: $color_blue;
              border: none;
              border-bottom: 1px solid $color_blue;
            }

            textarea::placeholder {
              font-size: 19px;
              font-weight: 400;
              padding-left: 8px;
              color: $color_blue;
              font-family: $main_font;
            }


            #contactform {
              display: flex;
              flex-direction: column;

              .country {
                padding: 17px 11px;
                margin-bottom: 15px;
                border: none;
                border-bottom: 1px solid $color_blue;
              }

              input:last-child {
                margin-right: 0;
              }
            }
          }

        }
      }
    }

  }

  .bottom_block {
    width: 100%;
    height: 50%;
  }
}


@media (orientation: portrait) and (max-width: 1024px) {
  .container_contact{
    .head_fon{
      .top_block {
        height: auto;
        .container {
          flex-direction: column;
          .text_top_block {
            width: 100%;
            height: 100%;
            text-align: center;
            h1 {
              font-size: 40px;
              line-height: 40px;
            }
            p {
              max-width: 100%;
            }
          }
          .contact_us {
            width: 100%;
            box-sizing: border-box;
            .input_contact {
              padding: 0;
            }
          }
        }
      }
    }
  }

}

@media (orientation: landscape) and (max-width: 1024px) {
  .container_contact{
    .head_fon{
      .top_block {
        height: auto;
        .container {
          flex-direction: column;
          .text_top_block {
            width: 100%;
            height: 100%;
            text-align: center;
            h1 {
              font-size: 40px;
              line-height: 40px;
            }
            p {
              max-width: 100%;
            }
          }
          .contact_us {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            .input_contact {
              padding: 0;
            }
          }
        }
      }
    }
  }

}