html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 22px;
  color: #222a3c;
}

main {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}

.fixed {
  background-color: #222a3c !important;
}

.fixed.head {
  max-height: 70px;
  padding-top: 0;
  transition: all ease-out 0.6s;
}
.fixed.head .container_nav .logo {
  max-width: 60px;
  transition: all ease-out 0.6s;
}
.fixed.head .container_nav .nav ul .nav_item ul {
  margin-top: 20px;
}
.fixed.head .container_nav .nav ul .nav_item a {
  font-size: 19px;
}

.head {
  display: flex;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  max-height: 100px;
  align-items: center;
  z-index: 2000;
  transition: all ease-out 0.6s;
  background: #fdbb2d;
  background: linear-gradient(0deg, rgba(253, 187, 45, 0) 0%, #222a3c 100%);
}
.head .container_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1770px;
  align-items: center;
  margin: 0 auto;
  /*LOGO*/
  /*/LOGO*/
  /*mobile_nav*/
  /*navigation*/
  /*/navigation*/
}
.head .container_nav .logo {
  width: 20%;
  max-width: 90px;
  padding-left: 35px;
  transition: all ease-out 0.6s;
}
.head .container_nav .logo svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.head .container_nav .nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.head .container_nav .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.head .container_nav .nav ul .logo_mobile {
  display: none;
  padding: 20px;
}
.head .container_nav .nav ul .nav_item {
  width: auto;
  text-align: center;
  position: relative;
  list-style-type: none;
  padding: 20px;
}
.head .container_nav .nav ul .nav_item a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  padding-left: 12px;
  transition: all ease-out 0.3s;
}
.head .container_nav .nav ul .nav_item .subclass_nav {
  position: absolute;
  flex-direction: column;
  margin-top: 10px;
  opacity: 0;
  border-top: 2px solid #ffffff;
  left: calc(50% - 200px);
  width: 400px;
  padding: 20px 15px 0;
  border-radius: 5px;
  background-color: #fff;
  transition: all ease-out 0.6s;
}
.head .container_nav .nav ul .nav_item .subclass_nav li {
  list-style-type: none;
  white-space: nowrap;
  padding: 0 0 35px !important;
  text-align: left;
}
.head .container_nav .nav ul .nav_item .subclass_nav li a {
  text-transform: none;
  font-weight: 400;
  color: #222a3c;
}
.head .container_nav .nav ul .nav_item .subclass_nav:before {
  content: "";
  position: absolute;
  top: -9px;
  bottom: -1px;
  left: calc(50% - 7px);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}
.head .container_nav .nav ul .nav_item:hover {
  color: #589288;
  transition: all ease-out 0.3s;
}
.head .container_nav .nav ul a:hover {
  color: #589288 !important;
  transition: all ease-out 0.3s;
}
.head .container_nav .nav ul .nav_item:hover .subclass_nav {
  opacity: 1;
  transition: all ease-out 0.6s;
}
.head .container_nav .nav ul .nav_item:last-child {
  padding-right: 0;
}
.head .container_nav .burger {
  display: none;
  background: none;
  border: none;
  outline: none;
  padding: 9px 2px;
  cursor: pointer;
  margin-right: 35px;
}
.head .container_nav .burger-item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  position: relative;
  cursor: pointer;
}
.head .container_nav .burger-item:before,
.head .container_nav .burger-item:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  z-index: 1;
}
.head .container_nav .burger-item:before {
  top: -8px;
}
.head .container_nav .burger-item:after {
  bottom: -8px;
}

/*button*/
.btn {
  border-radius: 26px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  background-color: #589288;
  text-align: center;
  border: none;
  margin-left: 10px;
  outline: none;
  width: 115px;
  max-height: 45px;
  text-decoration: none;
  transition: all ease-out 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #385c56;
  transition: all ease-out 0.5s;
  color: white !important;
}

/*/button*/
/*background_video*/
.video_bg {
  width: 100%;
  max-height: 800px;
  min-height: 700px;
  overflow: hidden;
  position: relative;
}
.video_bg .header_inner {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 5%;
  max-width: 1520px;
  margin: 0 auto;
  color: white;
  z-index: 999;
}
.video_bg .header_inner h1 {
  font-size: 66.5px;
  font-weight: 700;
}
.video_bg .header_inner p {
  font-size: 34px;
  font-weight: 400;
}
.video_bg .header_inner a {
  padding: 10px 40px;
  font-weight: 400;
}
.video_bg .full_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/*container*/
.container {
  width: 100%;
  height: 100%;
  max-width: 1083px;
  margin: 0 auto;
}

/*text_title*/
.text_title {
  text-align: center;
}
.text_title h1 {
  font-size: 55px;
  font-weight: 700;
}
.text_title p {
  font-weight: 400;
  padding-bottom: 45px;
}

.enterprise {
  width: 100%;
  height: 100%;
  max-height: 750px;
}
.enterprise .btn_fulls {
  width: 100%;
  font-size: 32px;
  font-weight: 400;
  padding: 25px 0;
  background-color: #222a3c;
  color: white;
  border: none;
  cursor: pointer;
  transition: all ease-out 0.4s;
}
.enterprise .btn_fulls:hover {
  background-color: #589288;
  transition: all ease-out 0.4s;
}
.enterprise .enterprise_content {
  display: flex;
  width: 100%;
  padding-bottom: 70px;
}
.enterprise .enterprise_content .enterprise_item {
  width: 28%;
  padding: 20px 40px 10px;
  margin: 20px 30px 0 0;
  color: white;
  text-align: center;
  transition: all ease-out 0.4s;
}
.enterprise .enterprise_content .enterprise_item h1 {
  font-size: 36px;
  font-weight: 400;
}
.enterprise .enterprise_content .enterprise_item p {
  font-weight: 400;
}
.enterprise .enterprise_content .enterprise_item:hover {
  -webkit-box-shadow: 6px 12px 18px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 12px 18px -6px rgba(0, 0, 0, 0.3);
  transition: all ease-out 0.4s;
}
.enterprise .enterprise_content .enterprise_item:nth-child(1) {
  background-color: #589288;
}
.enterprise .enterprise_content .enterprise_item:nth-child(2) {
  background-color: #4d75ad;
}
.enterprise .enterprise_content .enterprise_item:nth-child(3) {
  background-color: #6476bc;
  margin-right: 0;
}

.support {
  width: 100%;
  background-color: #e8e9ea;
  height: 100%;
  max-height: 900px;
  padding-bottom: 80px;
  padding-top: 20px;
}

.support_content {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
}
.support_content .support_item {
  width: 33%;
  border-radius: 15px;
  overflow: hidden;
  max-height: 580px;
  flex-direction: column;
  margin-right: 30px;
  background-color: white;
  -webkit-box-shadow: 0 0 8px 2px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0 0 8px 2px rgba(34, 60, 80, 0.3);
  box-shadow: 0 0 8px 2px rgba(34, 60, 80, 0.3);
}

.support_item_text {
  padding: 0 30px 30px;
}
.support_item_text h1 {
  font-size: 36px;
  font-weight: 400;
}
.support_item_text p {
  font-weight: 400;
}
.support_item_text a {
  text-decoration: none;
  color: #589288;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease-out 0.3s;
}
.support_item_text a:hover {
  color: #222a3c;
  transition: all ease-out 0.3s;
}

.support_item_img {
  width: 100%;
  height: 100%;
  max-height: 273px;
  position: relative;
  overflow: hidden;
}
.support_item_img img {
  width: auto;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.footer {
  background-color: #222a3c;
  color: #f5f5f5;
}
.footer .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*social_icon*/
}
.footer .container .nav_footer {
  margin-top: 20px;
}
.footer .container .nav_footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer .container .nav_footer ul li {
  list-style-type: none;
  padding-right: 44px;
}
.footer .container .nav_footer ul li a {
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  transition: all ease-out 0.3s;
}
.footer .container .nav_footer ul li a:hover {
  color: #589288;
  transition: all ease-out 0.3s;
}
.footer .container .social {
  display: flex;
  justify-content: center;
}
.footer .container .social .social_item {
  width: 100%;
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
  padding: 10px;
  margin-right: 25px;
  border: 1px solid #FFFFFF;
}
.footer .container .social .social_item svg {
  min-width: 100%;
  height: 100%;
  max-width: 55px;
  max-height: 55px;
  fill: #f5f5f5;
  transition: all ease-out 0.3s;
}
.footer .container .social .social_item svg:hover {
  fill: #589288;
  transition: all ease-out 0.3s;
}
.footer .container .social .social_item:hover {
  border: 1px solid #589288;
  transition: all ease-out 0.3s;
}

.icon_arrow {
  display: none;
}

@media (orientation: portrait) and (max-width: 1023px) {
  .header {
    background-image: url(../images/Header_vid/bg.png);
    height: auto;
  }

  .head .container_nav .show.nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2002;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    transition: all ease-out 0.2s;
  }
  .head .container_nav .nav {
    display: flex;
    position: absolute;
    top: 0;
    left: -2500px;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    transition: all ease-out 0.2s;
  }
  .head .container_nav .nav ul {
    flex-direction: column;
    justify-content: start;
  }
  .head .container_nav .nav ul .logo_mobile {
    display: flex;
    padding: 5px;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu .logo {
    margin-top: 7px;
    padding-left: 30px;
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu .burger {
    margin-right: 27px;
    margin-top: 10px;
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu .burger .burger-item {
    background: none;
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu .burger .burger-item:before,
.head .container_nav .nav ul .logo_mobile .nav_item_menu .burger .burger-item:after {
    background-color: #222a3c;
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu .burger .burger-item:before {
    top: 0;
    transform: rotate(45deg);
  }
  .head .container_nav .nav ul .logo_mobile .nav_item_menu .burger .burger-item:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .head .container_nav .nav ul .nav_item {
    text-align: start;
    padding: 20px 0 0;
    z-index: 9999;
  }
  .head .container_nav .nav ul .nav_item .nav_item_menu {
    display: flex;
    padding: 0 20px;
  }
  .head .container_nav .nav ul .nav_item .nav_item_menu .click_item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2%;
    left: 0;
  }
  .head .container_nav .nav ul .nav_item .nav_item_menu .icon_arrow {
    display: block;
  }
  .head .container_nav .nav ul .nav_item .nav_item_menu a {
    color: #222a3c;
    font-size: 16px;
  }
  .head .container_nav .nav ul .nav_item .nav_item_menu:before {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100vw;
    top: 48px;
    background: #ccc;
  }
  .head .container_nav .nav ul .nav_item .btn {
    width: 20%;
    padding-left: 10px;
  }
  .head .container_nav .nav ul .nav_item .active.subclass_nav_1 {
    position: relative;
    opacity: 1;
    left: 0;
    display: flex;
    transition: all ease-out 0.3s;
  }
  .head .container_nav .nav ul .nav_item .subclass_nav_1 {
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    opacity: 0;
    margin: 2px 45px;
    transition: all ease-out 0.3s;
  }
  .head .container_nav .nav ul .nav_item .subclass_nav_1 li {
    padding: 20px 0 !important;
    border-bottom: 1px solid #ccc;
  }
  .head .container_nav .nav ul .nav_item .subclass_nav_1 li a {
    color: #111111;
    text-transform: uppercase;
    font-size: 16px;
  }
  .head .container_nav .nav ul .nav_item ul:hover {
    position: relative;
  }

  .head .container_nav .burger {
    display: block;
  }

  .video_bg {
    height: 1000px;
    max-height: 750px;
  }
  .video_bg .header_inner {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .video_bg .header_inner h1 {
    font-size: 55px;
  }

  .enterprise {
    height: auto;
    max-height: none;
  }
  .enterprise .enterprise_content {
    flex-direction: column;
  }
  .enterprise .enterprise_content .enterprise_item {
    width: 70%;
    margin: 20px auto 0;
  }
  .enterprise .enterprise_content .enterprise_item:nth-child(3) {
    margin: 20px auto 0;
  }

  .support {
    height: auto;
    max-height: none;
  }

  .support_content {
    flex-direction: column;
  }
  .support_content .support_item {
    width: 95%;
    margin: 55px auto;
  }

  .footer {
    padding: 0 15px;
  }
  .footer .container .nav_footer ul {
    flex-wrap: wrap;
  }
  .footer .container .nav_footer ul li {
    width: 100%;
    padding-right: 0;
  }

  .support_item_img {
    height: 230px;
    max-height: none;
  }
  .support_item_img img {
    height: 100%;
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 1024px) {
  .video_bg {
    height: 1000px;
    max-height: 750px;
  }
  .video_bg .header_inner {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .video_bg .header_inner h1 {
    font-size: 55px;
  }

  .header {
    background-image: url(../images/Header_vid/bg.png);
    height: auto;
  }

  .head .container_nav .logo {
    width: 20%;
  }
  .head .container_nav .nav {
    width: 100%;
    justify-content: center;
  }
  .head .container_nav .nav ul {
    width: 100%;
    justify-content: center;
  }
  .head .container_nav .nav ul .nav_item {
    width: 25%;
    padding: 10px;
  }
  .head .container_nav .nav ul .nav_item a {
    font-size: 18px;
    padding: 0;
  }
  .head .container_nav .nav ul .nav_item:last-child {
    padding: 10px;
  }

  .btn {
    font-size: 18px;
    padding: 4px;
    margin-right: 10px;
  }

  .enterprise {
    max-height: none;
  }

  .support {
    max-height: none;
  }

  .enterprise {
    height: auto;
  }
  .enterprise .enterprise_content {
    flex-direction: column;
  }
  .enterprise .enterprise_content .enterprise_item {
    width: 70%;
    margin: 20px auto 0;
  }
  .enterprise .enterprise_content .enterprise_item:nth-child(3) {
    margin: 20px auto 0;
  }

  .support {
    height: auto;
  }

  .support_content {
    flex-direction: column;
  }
  .support_content .support_item {
    width: 70%;
    margin: 55px auto;
  }

  .footer {
    padding: 0 15px;
  }
  .footer .container .nav_footer ul li {
    width: 100%;
    padding-right: 0;
  }
  .footer .container .nav_footer ul li a {
    font-size: 15px;
  }

  .support_item_img {
    height: 230px;
    max-height: none;
  }
  .support_item_img img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1137px) {
  .video_bg .header_inner h1 {
    font-size: 55px;
  }
}
@media (max-width: 350px) {
  .head .container_nav .nav ul .nav_item a {
    padding-left: 0;
  }

  .video_bg .header_inner h1 {
    font-size: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
